<!-- Majorelle Blue block -->
<div [ngClass]="[getColor(activity.title), 'rounded-2xl', 'w-20', 'xl:w-19']">

  <!-- Platinum block -->
  <div class="relative h-8 overflow-hidden">
    <img class="absolute -mt-2 right-4 w-13" [src]="getImage(activity.title)" [alt]="activity.title" />
  </div>

  <!-- Medium Spring Green block -->
  <div class="px-4 py-5 bg-dark-blue rounded-2xl xl:p-7 xl:cursor-pointer xl:hover:bg-hover-blue">

    <!-- Apple Green block -->
    <div class="flex items-center justify-between xl:mb-4">
      <h2 class="font-medium text-white">{{activity.title}}</h2>
      <div>
        <img src="/assets/images/icon-ellipsis.svg" alt="more" />
      </div>
    </div>

    <!-- Deep Pink block -->
    <div class="flex items-center justify-between xl:flex-col xl:items-start">
      <span class="text-xl font-light text-white xl:text-3xl">{{ current }}</span>
      <span class="text-tiny">{{ previous }}</span>
    </div>
  </div>
</div>
