<!-- Majorelle Blue block -->
<div [ngClass]="[getColor(activity.title), 'rounded-2xl', 'w-20']">

  <!-- Platinum block -->
  <div class="relative h-8 overflow-hidden">
    <img class="absolute -mt-2 right-4 w-13" [src]="getImage(activity.title)" [alt]="activity.title" />
  </div>

  <!-- Medium Spring Green block -->
  <div class="px-4 py-5 bg-dark-blue rounded-2xl">

    <!-- Apple Green block -->
    <div class="flex items-center justify-between">
      <h2 class="font-medium text-white">{{activity.title}}</h2>
      <div>
        <img src="/assets/images/icon-ellipsis.svg" alt="more" />
      </div>
    </div>

    <!-- Deep Pink block -->
    <div class="flex items-center justify-between">
      <span class="text-xl font-light text-white">{{activity.timeframes.weekly.current}}hrs</span>
      <span class="text-tiny">Last week - {{activity.timeframes.weekly.previous}}hrs</span>
    </div>
  </div>
</div>
